@model List<string>
@{
    ViewBag.Title = "Index";
}

<h2>Downloads</h2>

<table border="1">
    <tr>
        <th>File Name</th>
        <th>Link</th>
    </tr>

    @for (var i = 0; i <= Model.Count - 1; i++)
    {
        <tr>
            <td>
                @Model[i].ToString();
            </td>
            <td>
                @Html.ActionLink("Download", "DownloadFile", new { FileName = @Model[i].ToString() })
            </td>
        </tr>
    }

</table>



