
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Upload a file</legend>

        @Html.Raw(ViewBag.Message)

        <div class="editor-field">
            @Html.TextBox("file", "", new { type = "file" })
        </div>

        <br/>

        <div class="editor-field">
            <input type="submit" value="Upload File" />
        </div>
        @Html.ActionLink("Go To Download Page", "Index", "Download", null, new { @class = "button_example", style = "float:right" })
    </fieldset>
}



