
@{
    ViewBag.Title = "Instructor Home Page";
}

<br />
<div class="jumbotron" style="margin-top:10%">
    <h1>Welcome !</h1>
    <br />
    <p class="lead">Go to My Course to manage Quiz and Content</p>
    <br />
    <p>@Html.ActionLink("My Course", "courseList", "instructor", new { @class = "btn btn-primary btn-lg" })</p>
</div>
